{% extends 'base.html' %}
 {% block content %}

<div class="conatiner my-4">
    <div class="row">
        <div class="mb-3 col-md-6">
            <div class="success-message">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li class="{{ message.tags }}">
                                        <h4 class="alert-info text-center" style="padding-top: 5px; padding-bottom: 5px;">
                                            {{ message }}
                                        </h4>
                                    </li>
                                {% endfor %}
                             </ul>
                         {% endif %}
                    </div>
          <label  class="form-label">Upload Data</label>
<!--          <input class="form-control" type="file" id="formFile">-->
        </div>
    </div>
    <form id="example-form1" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
    {% for field in form %}
        <div class="form-group mb-3">
            <label class="text-info form-label">{{ field.label_tag }}</label>
            {{ field }}
            <div class="text-danger">{{ field.errors }}</div>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
        </div>
    {% endfor %}
    </form>
    <!-- Progress Bar Section -->
        <div class="progress mt-4" style="height: 30px;">
            <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <span id="progress-text">0% Complete</span>
            </div>
        </div>
        <p id="progress-details" class="mt-2"></p> <!-- For showing current row/total row count -->
</div>


{% endblock %}